<h3><%= t('algorithms.show.subtitle_drugs') %></h3>

<%= link_to new_algorithm_drug_url(@algorithm) do %>
  <button type="button" class="btn btn-outline-primary"><%= t('add') %></button>
<% end %>

<table class="table table-condensed table-hover" id="drugs-datatable" data-source="<%= drug_algorithm_url(@algorithm, format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t('.columns.reference') %></th>
      <th><%= t('.columns.label') %></th>
      <th><%= t('.columns.description') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
