<h1><%= t('.title') %></h1>

<%= render 'utils/dependency_warning', node: @drug %>

<p class="mx-0 my-0 metadata" data-type="Drug" data-algorithm="<%= @algorithm.id %>" data-question="<%= @drug.id %>"></p>

<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <%= react_component('form/DrugForm/stepper', { drug: @drug, method: 'update', from: 'rails' }) %>
  </div>
</div>
