<div id="diagnostic_diagram">
  <h2 class="mt-2"><%= t 'diagnostics.translations.questions' %></h2>
  <% @diagnostic.generate_questions_order.each do |level| %>
    <div class="row">
      <% level.each do |elem| %>
        <div class="col border border-3 rounded node-block <%= 'col-md-4 offset-md-4' if level.count == 1  %>">
            <div class="col-sm text-center p-2">
              <ul>
                <% elem.conditions.each do |condition| %>
                  <li><%= condition.display_condition %></li>
                <% end %>
              </ul>
            </div>

          <div class="row">
            <div class="col-sm text-center border-top p-3">
              <h5 class="m-0"><%= elem.node.reference_label %></h5>
            </div>
          </div>

          <div class="row">
            <% elem.node.answers.each do |answer| %>
              <div class="col">
                <div class="row">
                  <div class="col-sm text-center border-top <%= 'border-right' unless answer == elem.node.answers.last %>">
                    <%= answer.reference_label %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm text-center border-top <%= 'border-right' unless answer == elem.node.answers.last %>">
                    <small>
                      <%= @diagnostic.components.select { |instance|
                        instance.conditions.where(first_conditionable: answer).or(instance.conditions.where(second_conditionable: answer)).any? }.map { |instance| instance.node.reference }.join(', ') %>
                    </small>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <br/>
  <% end %>

  <h2 class="mt-2"><%= t 'diagnostics.show.subtitle_final_diagnostics' %></h2>
  <div class="row">
    <% @diagnostic.final_diagnostics.each do |df| %>
      <div class="col-sm border border-3 rounded node-block <%= 'col-md-4 offset-md-4' if @diagnostic.final_diagnostics.count == 1  %>">
        <div class="col-sm text-center p-2">
          <ul>
            <% df.instances.where(instanceable: @diagnostic).first.conditions.each do |condition| %>
              <li><%= condition.display_condition %></li>
            <% end if df.instances.where(instanceable: @diagnostic).any? %>
          </ul>
        </div>

        <div class="col-sm text-center node-block border-top p-2">
          <h5 class="m-0"><%= df.reference_label %></h5>
        </div>
      </div>
    <% end %>
  </div>

  <h2 class="mt-2"><%= t 'diagnostics.translations.treatments' %> / <%= t 'diagnostics.translations.managements' %></h2>
  <div class="row">
    <% (@diagnostic.managements + @diagnostic.treatments).each do |hc| %>
      <div class="col border border-3 rounded node-block">

        <div class="row">
          <% hc.instances.where(instanceable: @diagnostic).first.conditions.each do |condition| %>
            <div class="col-sm text-center border-bottom">
              <%= condition.display_condition %>
            </div>
          <% end %>
        </div>

        <div class="row">
          <div class="col-sm text-center border-bottom p-3">
            <h5 class="m-0"><%= hc.reference_label %></h5>
          </div>
        </div>

        <div class="row">
          <% hc.final_diagnostics.each do |df| %>
            <div class="col-sm text-center">
              <p><%= df.reference %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</div>
