<p><%= t('.arrow') %></p>
<p>
  Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard
</p>

<p><%= t('.dashed-arrow') %></p>
<p>
  Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard
</p>

<p><%= t('.in-port') %></p>
<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard</p>

<p><%= t('.out-port') %></p>
<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard</p>

<p><%= t('.excluded-diagnostic') %></p>
