<div class="row">
  <div class="col-sm-2"><%= f.label :reference %><p><%= node.reference %></p></div>
  <div class="col-sm-4"><%= f.label :label_en %><p><%= node.label_en %></p></div>
  <div class="col-sm-6"><%= f.input "#{t('languages.label')}#{language.code}" %></div>
</div>

<div class="row">
  <div class="col-sm-5"><%= f.input :description_en, as: :text, disabled: true %></div>
  <div class="col-sm-5 offset-sm-1"><%= f.input "#{t('languages.description')}#{language.code}", as: :text %></div>
  <div class="col-sm-1"><%= f.submit t('save'), class: 'btn btn-primary my-4 float-right', data: { disable_with: false } %></div>
</div>

