<table class="table table-condensed table-hover" id="diagnostics-datatable" data-source="<%= algorithm_version_diagnostics_url(@algorithm, @version, format: :json) %>">
  <thead>
    <tr>
      <th><%= t('.columns.reference') %></th>
      <th><%= t('.columns.label') %></th>
      <th><%= t('.columns.complaint_category') %></th>
      <th><%= t('.columns.last_update') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

