<ul class="nav nav-tabs" id="myTranslation" role="tablist">
  <% Language.all.each_with_index do |language, index| %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if index == 0 %>" id="<%= language.code %>-tab" data-toggle="tab" href="#<%= language.code %>" role="tab" aria-controls="<%= language.code %>" aria-selected="true"><%= language.name %></a>
    </li>
  <% end %>
</ul>
<br/>

<div class="tab-content mt-4 ml-4" id="translation-table">
  <% Language.all.each_with_index do |language, index| %>
    <div class="tab-pane fade <%= 'show active' if index == 0 %>" id="<%= language.code %>" role="tabpanel" aria-labelledby="<%= language.code %>-tab">
      <h4><%= t('.diagnostic') %></h4>

      <%= simple_form_for @diagnostic, url: update_translations_algorithm_version_diagnostic_url(@diagnostic.version.algorithm, @diagnostic.version, @diagnostic), remote: true, method: :put, html: {class: 'form-horizontal'} do |f| %>
        <div class="row">
          <div class="col-sm-2"><%= f.label :reference %><p><%= @diagnostic.reference %></p></div>
          <div class="col-sm-4"><%= f.label :label_en %><p><%= @diagnostic.label_en %></p></div>
          <div class="col-sm-5"><%= f.input "#{t('languages.label')}#{language.code}" %></div>
          <div class="col-sm-1"><%= f.submit t('save'), class: 'btn btn-primary my-4 float-right', data: {disable_with: false} %></div>
        </div>
      <% end %>

      <hr/>
      <h4><%= t('.final_diagnostics') %></h4>

      <% @diagnostic.final_diagnostics.each do |final_diagnostic| %>
        <%= simple_form_for final_diagnostic, url: update_translations_algorithm_version_diagnostic_final_diagnostic_url(@diagnostic.version.algorithm, @diagnostic.version, @diagnostic, final_diagnostic), method: :put, remote: true, html: {class: 'form-horizontal'} do |f| %>
          <%= render 'node_translation', f: f, node: final_diagnostic, language: language %>
        <% end %>
      <% end %>

      <hr/>
      <h4><%= t('.questions') %></h4>

      <% @diagnostic.questions.includes(:answer_type).each do |question| %>
        <%= simple_form_for question, url: update_translations_algorithm_question_url(@diagnostic.version.algorithm, question), method: :put, remote: true, html: {class: 'form-horizontal'} do |f| %>
          <%= render 'node_translation', f: f, node: question, language: language %>
        <% end %>
        <br/>
        <% unless question.answer_type.value == 'Boolean' %>
          <% question.answers.each do |answer| %>
            <%= simple_form_for answer, url: update_translations_algorithm_question_answer_url(@diagnostic.version.algorithm, question, answer), method: :put, remote: true, html: {class: 'form-horizontal'} do |f| %>
              <div class="row">
                <div class="col-sm-2 offset-sm-1"><%= f.label :reference %><p><%= answer.reference %></p></div>
                <div class="col-sm-3"><%= f.label :label_en %><p><%= answer.label_en %></p></div>
                <div class="col-sm-5"><%= f.input "#{t('languages.label')}#{language.code}" %></div>
                <div class="col-sm-1"><%= f.submit t('save'), class: 'btn btn-primary my-4 float-right', data: {disable_with: false} %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <hr/>
      <% end %>

      <hr/>
      <h4><%= t('.questions_sequences') %></h4>

      <% @diagnostic.questions_sequences.each do |questions_sequence| %>
        <%= simple_form_for questions_sequence, url: update_translations_algorithm_questions_sequence_url(@diagnostic.version.algorithm, questions_sequence), method: :put, remote: true, html: {class: 'form-horizontal'} do |f| %>
          <%= render 'node_translation', f: f, node: questions_sequence, language: language %>
        <% end %>
      <% end %>

      <hr/>
      <h4><%= t('.managements') %></h4>

      <% @diagnostic.managements.each do |management| %>
        <%= simple_form_for management, url: update_translations_algorithm_management_url(@diagnostic.version.algorithm, management), method: :put, remote: true, html: {class: 'form-horizontal'} do |f| %>
          <%= render 'node_translation', f: f, node: management, language: language %>
        <% end %>
      <% end %>

      <hr/>
      <h4><%= t('.drugs') %></h4>

      <% @diagnostic.drugs.each do |drug| %>
        <%= simple_form_for drug, url: update_translations_algorithm_drug_url(@diagnostic.version.algorithm, drug), method: :put, remote: true, html: {class: 'form-horizontal'} do |f| %>
          <%= render 'node_translation', f: f, node: drug, language: language %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
