<div class="row my-1">
  <div class="col align-self-center breadcrumbs"><%= render_breadcrumbs %></div>
  <div class="col align-self-center text-right text-uppercase font-weight-light"><%= @diagnostic.label %></div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="mx-0 my-0 metadata" data-type="<%= @diagnostic.class.name %>" data-id="<%= @diagnostic.id %>" data-version="<%= @diagnostic.version.id %>"  data-algorithm="<%= @diagnostic.version.algorithm.id %>"></p>
    <%= react_component('Provider', {
    render: 'Diagram',
    context: {
      instanceable: @diagnostic,
      instanceableType: @diagnostic.class.name,
      questions: @diagnostic.questions_json,
      finalDiagnostics: @diagnostic.final_diagnostics_json,
      availableNodes: @diagnostic.available_nodes_json,
      type: 'Diagnostic',
      questionCategories: Question.categories.as_json,
      questionsSequenceCategories: QuestionsSequence.categories.as_json,
      readOnly: false
    }
  }) %>
    <button type="button" class="btn btn-sm btn-info help" data-toggle="popover" data-placement="top" data-html="true" data-content="<%= render 'helps/diagram' %>">
      <i class="material-icons">
        help_outline
      </i>
    </button>
  </div>
</div>
