<div class="row">
  <div class="col-md-12 p-2 text-right">
    <%= link_to(I18n.t('close'), algorithm_version_diagnostic_url(params[:algorithm_id], params[:version_id], params[:id]), class: 'btn btn-danger mt-2 mr-2') %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p data-type="<%= @diagnostic.class.name %>" data-id="<%= @diagnostic.id %>" data-version="<%= @diagnostic.version.id %>"  data-algorithm="<%= @diagnostic.version.algorithm.id %>"></p>
    <%= react_component('Provider', {
    render: 'Diagram',
    context: {
      instanceable: @diagnostic,
      instanceableType: @diagnostic.class.name,
      questions: @diagnostic.questions_json,
      finalDiagnostics: @diagnostic.final_diagnostics_json,
      availableNodes: @diagnostic.available_nodes_json,
      type: 'Diagnostic'
    }
  }) %>
  </div>
</div>
