<h1><%= t('.title', name: @diagnostic.label) %> <%= link_to(I18n.t('open_diagram'), diagram_algorithm_version_diagnostic_url(params[:algorithm_id], params[:version_id], params[:id]), class: 'btn btn-dark') %></h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:panel].blank? || params[:panel] == 'final_diagnostics'%>" id="final_diagnostics-tab" data-toggle="tab" href="#final_diagnostics" role="tab" aria-controls="final_diagnostics" aria-selected="false"><%= t('.subtitle_final_diagnostics')  %> </a>
  </li>
</ul>


<div class="tab-content mt-4 ml-4" id="diagnostic-table">
    <div class="tab-pane fade <%= 'show active' if params[:panel].blank? || params[:panel] == 'final_diagnostics'%>" id="final_diagnostics" role="tabpanel" aria-labelledby="final_diagnostics-tab">

    <h3 class="mt-5"><%= t('.subtitle_final_diagnostics') %></h3>
    <%= link_to new_algorithm_version_diagnostic_final_diagnostic_url(@algorithm, @version, @diagnostic) do %>
      <button type="button" class="btn btn-outline-primary"><%= t('add') %></button>
    <% end %>

    <%= render 'final_diagnostics/table' %>
  </div>
</div>

