<h1><%= t('.title', name: @diagnostic.label ) %></h1>

<h2><%= t('.subtitle_final_diagnostics') %></h2>
<%= link_to new_algorithm_algorithm_version_diagnostic_final_diagnostic_url(@algorithm, @algorithm_version, @diagnostic) do %>
  <button type="button" class="btn btn-outline-secondary"><%= t('add') %></button>
<% end %>

<%= render 'final_diagnostics/table' %>
