<h1><%= t('.title', name: @diagnostic.label) %></h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:panel].blank? || params[:panel] == 'instances'%>" id="home-tab" data-toggle="tab" href="#instances" role="tab" aria-controls="home" aria-selected="true"><%= t('.instances') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:panel].present? && params[:panel] == 'final_diagnostics'%>" id="final_diagnostics-tab" data-toggle="tab" href="#final_diagnostics" role="tab" aria-controls="final_diagnostics" aria-selected="false"><%= t('.subtitle_final_diagnostics')  %> </a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:panel].present? && params[:panel] == 'differential_conditions'%>" id="differential_conditions-tab" data-toggle="tab" href="#differential_conditions" role="tab" aria-controls="differential_conditions" aria-selected="false"><%= t('.differential_diagnostic_conditions') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:panel].present? && params[:panel] == 'translations'%>" id="translations-tab" data-toggle="tab" href="#translations" role="tab" aria-controls="translations" aria-selected="false"><%= t('.translations') %></a>
  </li>
  <li class="nav-item">
    <a class="nav-link <%= 'active' if params[:panel].present? && params[:panel] == 'diagram'%>" id="diagram-tab" data-toggle="tab" href="#diagram" role="tab" aria-controls="diagram" aria-selected="false"><%= t('.diagram') %></a>
  </li>
</ul>


<div class="tab-content mt-4 ml-4" id="diagnostic-table">
  <div class="tab-pane fade <%= 'show active' if params[:panel].blank? || params[:panel] == 'instances'%>" id="instances" role="tabpanel" aria-labelledby="home-tab">
    <h3><%= t('.instances') %></h3>

    <div class="row">
      <div class="col">
        <%= simple_form_for @instance, url: diagnostic_instances_url(@diagnostic), method: :post do |f| %>
          <div class="row">
            <div class="col">
              <%= f.association :node, collection: (@algorithm.nodes.where.not(id: @diagnostic.components.select(:node_id)) + FinalDiagnostic.where(diagnostic_id: params[:id])).flatten.sort_by(&:reference), label_method: :reference_label, prompt: t('select'), label: false %>
            </div>
            <div class="col">
              <%= f.submit t('add'), class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= render 'instances/table' %>
  </div>

  <div class="tab-pane fade <%= 'show active' if params[:panel].present? && params[:panel] == 'final_diagnostics'%>" id="final_diagnostics" role="tabpanel" aria-labelledby="final_diagnostics-tab">
    <h3><%= t('.subtitle_final_diagnostics') %></h3>

    <%= link_to new_algorithm_version_diagnostic_final_diagnostic_url(@algorithm, @version, @diagnostic) do %>
      <button type="button" class="btn btn-outline-secondary"><%= t('add') %></button>
    <% end %>

    <%= render 'final_diagnostics/table' %>
  </div>

  <div class="tab-pane fade <%= 'show active' if params[:panel].present? && params[:panel] == 'differential_conditions'%>" id="differential_conditions" role="tabpanel" aria-labelledby="differential_conditions-tab">
    <h3><%= t('.differential_diagnostic_conditions') %></h3>

    <%= render 'conditions/differential_table' %>
  </div>

  <div class="tab-pane fade <%= 'show active' if params[:panel].present? && params[:panel] == 'translations'%>" id="translations" role="tabpanel" aria-labelledby="translations-tab">
    <%= render 'translations' %>
  </div>

  <div class="tab-pane fade <%= 'show active' if params[:panel].present? && params[:panel] == 'diagram'%>" id="diagram" role="tabpanel" aria-labelledby="diagram-tab">
    <%= react_component('Diagram', {
      diagnostic: @diagnostic.generate_questions_order.as_json(include: [conditions: {include: [:first_conditionable]}, node: {include: [:answers]}]),
      finalDiagnostics: @diagnostic.final_diagnostics.as_json(include: [instances: {include: [conditions: {include: [:first_conditionable, :second_conditionable]}]}]),
      treatments: @diagnostic.treatments,
      managements: @diagnostic.managements,
    }) %>
    <hr/>
    <%= render 'diagram' %>
  </div>
</div>



