<h1><%= t('.title', name: @diagnostic.label ) %></h1>

<h2><%= t('.subtitle_final_diagnostics') %></h2>
<%= link_to new_algorithm_algorithm_version_diagnostic_final_diagnostic_url(@algorithm, @algorithm_version, @diagnostic) do %>
  <button type="button" class="btn btn-outline-secondary"><%= t('add') %></button>
<% end %>

<%= render 'final_diagnostics/table' %>

<hr/>

<h2><%= t('.relations') %></h2>

<div class="row">
  <div class="col">
    <%= simple_form_for @relation, url: algorithm_algorithm_version_diagnostic_relations_url(@algorithm, @algorithm_version, @diagnostic), method: :post do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :node_id, collection: Node.where.not(id: @diagnostic.relations.select(:node_id)), label_method: :label, label: false , prompt: t('prompt')%>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'relations/table' %>
