<%= simple_form_for [@algorithm, @question], html: { class: 'form-horizontal' }, wrapper: :input_group do |f| %>

  <%= f.input :priority, collection: Question.priorities.map { |k, v| [t("question.priorities.#{k}"), k] }, prompt: t('select') %>
  <%= f.association :category, collection: Category.question_categories, label_method: :name, prompt: t('select'), disabled: f.object.persisted? %>

  <%= f.input :reference, prepend: (f.object.persisted? ? false : (@question.category.nil? ? '_' : @question.category.reference_prefix + '_')), disabled: f.object.persisted? %>
  <%= f.input :label_en %>
  <%= f.input :description_en, as: :text %>

  <%= f.association :answer_type, collection: AnswerType.all, label_method: :display_name, prompt: t('select'), disabled: @question.answers.any?  %>

  <hr />

  <%= f.simple_fields_for :medias do |ff| %>
    <%= render 'medias/fields', f: ff %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "<button class='btn btn-outline-success'>#{t('add')}</button>".html_safe, f, :medias, partial: 'medias/fields' %>
  </div>

  <%= f.submit t('save'), class: 'btn btn-primary my-4 float-right' %>
<% end %>
