<table class="table table-condensed table-hover" id="questions-datatable" data-source="<%= question_algorithm_url(@algorithm, format: :json) %>">
  <thead>
  <tr>
    <th>ID</th>
    <th><%= t('.columns.reference') %></th>
    <th><%= t('.columns.label') %></th>
    <th><%= t('.columns.description') %></th>
    <th><%= t('.columns.is_mandatory') %></th>
    <th><%= t('.columns.category') %></th>
    <th><%= t('.columns.answers') %></th>
    <th><%= t('.columns.answer_type') %></th>
    <th><%= t('.columns.actions') %></th>
    <th><%= t('.columns.is_neonat') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
