<h1><%= t('.title') %></h1>

<%= render 'utils/dependency_warning', node: @question %>

<p class="mx-0 my-0 metadata" data-type="<%= @question.node_type %>" data-algorithm="<%= @algorithm.id %>" data-question="<%= @question.id %>"></p>

<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <%= react_component('form/QuestionForm/stepper', { question: @question.as_json(include: [:answers, :complaint_categories], methods: [:type]), method: 'update', from: 'rails' }) %>
  </div>
</div>
