<ul class="list-group">
  <% @conditions.each do |condition| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col"><%= condition.display_condition %></div>
        <div class="col text-right"><%= link_to(I18n.t('destroy'), differential_diagnostic_condition_url(@diagnostic, condition), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' }) %></div>
      </div>
    </li>
  <% end %>
  <li class="list-group-item">
    <%= simple_form_for @condition, url: differential_diagnostic_conditions_url(@diagnostic), method: :post do |f| %>
      <div class="row">
        <div class="col">
          <%= f.association :first_conditionable, collection: (@relationable.relations.questions.includes(node:[:answers]).map(&:node).map(&:answers) + @relationable.relations.predefined_syndromes.includes(node:[:answers]).map(&:node).map(&:answers) + @diagnostic.conditions).flatten, value_method: :conditionable_hash, label_method: :display_condition, label: false, prompt: t('prompt') %>
        </div>
        <div class="col">
          <%= f.input :operator, label: false %>
        </div>
        <div class="col">
          <%= f.association :second_conditionable, collection: (@relationable.relations.questions.includes(node:[:answers]).map(&:node).map(&:answers) + @relationable.relations.predefined_syndromes.includes(node:[:answers]).map(&:node).map(&:answers) + @diagnostic.conditions).flatten, value_method: :conditionable_hash, label_method: :display_condition, label: false, prompt: t('prompt') %>
        </div>
        <div class="col">
          <%= f.input :top_level, as: :boolean %>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </li>
</ul>
