<ul class="list-group">
  <% @conditions.each do |condition| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col"><%= condition.display %></div>
        <div class="col text-right"><%= link_to(I18n.t('destroy'), algorithm_algorithm_version_diagnostic_relation_condition_url(@algorithm, @algorithm_version, @diagnostic, @relation, condition), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' }) %></div>
      </div>
    </li>
  <% end %>
  <li class="list-group-item">
    <%= simple_form_for @condition, url: algorithm_algorithm_version_diagnostic_relation_conditions_url(@algorithm, @algorithm_version, @diagnostic, @relation), method: :post do |f| %>
      <div class="row">
        <div class="col">
          <%= f.association :first_conditionable, collection: (@relation.nodes.map(&:answers) + @relation.conditions).flatten, label_method: :display_condition, label: false, prompt: t('prompt') %>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </li>
</ul>
