<table class="table table-condensed table-hover" id="instances-datatable" data-source="<%= instanceable_url(@instanceable.class, @instanceable.id, format: :json) %>">
  <thead>
    <tr>
      <th><%= t('.columns.reference') %></th>
      <th><%= t('.columns.type') %></th>
      <th><%= t('.columns.label') %></th>
      <th><%= t('.columns.children') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

