<h2><%= t('health_facilities.show.second_title') %></h2>

<%= react_component('accesses/index', { versions: @versions, current_health_facility_access: @current_health_facility_access, health_facility: @health_facility }) %>

<% if @current_health_facility_access.present? && current_user.admin? %>
  <% version = Version.find(@current_health_facility_access['version']['id']) %>
<div>
  <%= simple_form_for version, url: reset_job_id_algorithm_version_path(version.algorithm, version), method: :put do |f| %>
    <%= f.submit t('.reset_job_id'), class: 'btn btn-primary' %>
  <% end %>
</div>
<% end %>

<h3><%= t('health_facilities.show.archived') %></h3>

<table class="table table-condensed table-hover" id="health_facility_accesses-datatable" data-source="<%= health_facility_accesses_url(format: :json, id: @health_facility.id) %>">
  <thead>
  <tr>
    <th><%= t('.columns.created_at') %></th>
    <th><%= t('.columns.end_date') %></th>
    <th><%= t('.columns.algorithm') %></th>
    <th><%= t('.columns.version') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
