<h1><%= t('.title') %></h1>
<%= link_to new_health_facility_url do %>
  <button type="button" class="btn btn-outline-secondary"><%= t('add') %></button>
<% end %>

<table class="table table-condensed table-hover" id="health_facilities-datatable" data-source="<%= health_facilities_url(format: :json) %>">
  <thead>
    <tr>
      <th><%= t('.columns.name') %></th>
      <th><%= t('.columns.nb_people') %></th>
      <th class="text-right"><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
