<div class="row">
  <h1><%= t('.title', name: @health_facility.name) %> - <small><%= t("health_facilities.architectures.#{@health_facility.architecture}") %></small></h1>
  <% if ["deployment_manager", "admin"].include?(current_user.role) %>
    <div class="col d-flex align-items-center justify-content-end">
      <%= link_to t('health_facilities.show.generate_stickers'), health_facility_sticker_form_url(@health_facility), class:'btn btn-info' %>
    </div>
  <% end %>
</div>

<hr class="my-4"/>

<h2><%= t('.medical_staff') %></h2>
<div class="row">
  <% @health_facility.medical_staffs.each do |medical_staff| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= medical_staff.full_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= t("medical_staffs.roles.#{medical_staff.role}") %></h6>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr class="my-4"/>

<h2><%= t('.devices') %></h2>
<div class="row">
  <div class="col">
    <%= simple_form_for @device, url: health_facility_add_device_url(@health_facility), method: :post do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :id, collection: Device.where(health_facility_id: nil), label_method: :label, label: false, prompt: t('prompt') %>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<table class="table table-condensed table-hover" id="devices-datatable" data-from="health_facility" data-source="<%= devices_url(format: :json, from: 'health_facility', id: params[:id]) %>">
  <thead>
  <tr>
    <th><%= t('.columns.mac_address') %></th>
    <th><%= t('.columns.name') %></th>
    <th><%= t('.columns.brand') %></th>
    <th><%= t('.columns.model') %></th>
    <th><%= t('.columns.last_activity') %></th>
    <th><%= t('.columns.last_user') %></th>
    <th><%= t('.columns.health_facility') %></th>
    <th class="text-right"><%= t('.columns.actions') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<hr class="my-4"/>

<h2><%= t('.second_title') %></h2>
<div class="row">
  <div class="col">
    <% if @current_health_facility_access.present?%>
      <% if !@current_health_facility_access.version.generating  %>
      <div class="alert alert-success" role="alert">
        <div class="row">
          <div class="col">
            <%= t('health_facilities.current_algorithm', version_name: @current_health_facility_access.version.display_label).html_safe %>

          </div>
          <div class="col">
            <%= simple_form_for @current_health_facility_access.version, url: regenerate_json_algorithm_version_path(@current_health_facility_access.version.algorithm, @current_health_facility_access.version), method: :put do |f| %>
              <%= f.submit t('.generate_json'), class: 'btn btn-primary' %>
            <% end %>
          </div>
        </div>
      </div>
      <% else %>
        <div class="alert alert-danger" role="alert">
          <%= t('.generating') %>
        </div>
      <% end %>
    <% else %>
      <div class="alert alert-danger" role="alert">
        <%= t('.no_algorithm') %>
      </div>
    <% end %>
  </div>
  <div class="col">
    <%= simple_form_for @health_facility_access do |f| %>
      <%= f.input :health_facility_id, as: :hidden, input_html: { value: params[:id] } %>
      <div class="row">
        <div class="col">
          <%= f.association :version, collection: Version.includes(:algorithm).where.not(id: (@current_health_facility_access.version_id if @current_health_facility_access.present?), archived: true), label_method: :display_label, label: false, prompt: t('prompt') %>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<h3><%= t('.archived') %></h3>
<table class="table table-condensed table-hover" id="health_facility_accesses-datatable" data-source="<%= health_facility_accesses_url(format: :json, id: params[:id]) %>">
  <thead>
  <tr>
    <th><%= t('.columns.created_at') %></th>
    <th><%= t('.columns.end_date') %></th>
    <th><%= t('.columns.algorithm') %></th>
    <th><%= t('.columns.version') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
