<div class="row">
  <h1><%= t('.title', name: @health_facility.name) %> - <small><%= t("health_facilities.architectures.#{@health_facility.architecture}") %></small></h1>
  <% if ["deployment_manager", "admin"].include?(current_user.role) %>
    <div class="col d-flex align-items-center justify-content-end">
      <%= link_to t('health_facilities.show.generate_stickers'), health_facility_sticker_form_url(@health_facility), class:'btn btn-info' %>
    </div>
  <% end %>
</div>

<hr class="my-4"/>

<h2><%= t('.medical_staff') %></h2>
<div class="row">
  <% @health_facility.medical_staffs.each do |medical_staff| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= medical_staff.full_name %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%= t("medical_staffs.roles.#{medical_staff.role}") %></h6>
        </div>
      </div>
    </div>
  <% end %>
</div>

<hr class="my-4"/>

<h2><%= t('.devices') %></h2>
<div class="row">
  <div class="col">
    <%= simple_form_for @device, url: health_facility_add_device_url(@health_facility), method: :post do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :id, collection: Device.where(health_facility_id: nil), label_method: :label, label: false, prompt: t('prompt') %>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>


<table class="table table-condensed table-hover" id="devices-datatable" data-from="health_facility" data-source="<%= devices_url(format: :json, from: 'health_facility', id: params[:id]) %>">
  <thead>
  <tr>
    <th><%= t('.columns.mac_address') %></th>
    <th><%= t('.columns.name') %></th>
    <th><%= t('.columns.brand') %></th>
    <th><%= t('.columns.model') %></th>
    <th><%= t('.columns.last_activity') %></th>
    <th><%= t('.columns.last_user') %></th>
    <th><%= t('.columns.health_facility') %></th>
    <th class="text-right"><%= t('.columns.actions') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>

<hr class="my-4"/>

<h2><%= t('.second_title') %></h2>
<%= react_component('accesses/index', { versions: @versions, current_health_facility_access: @current_health_facility_access }) %>

<h3><%= t('.archived') %></h3>
<table class="table table-condensed table-hover" id="health_facility_accesses-datatable" data-source="<%= health_facility_accesses_url(format: :json, id: params[:id]) %>">
  <thead>
  <tr>
    <th><%= t('.columns.created_at') %></th>
    <th><%= t('.columns.end_date') %></th>
    <th><%= t('.columns.algorithm') %></th>
    <th><%= t('.columns.version') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
