<table class="table table-condensed table-hover" id="algorithm_versions-datatable" data-source="<%= algorithm_algorithm_versions_url(@algorithm, format: :json, id: @algorithm.id) %>">
  <thead>
    <tr>
      <th><%= t('.columns.id') %></th>
      <th><%= t('.columns.version') %></th>
      <th><%= t('.columns.container') %></th>
      <th><%= t('.columns.last_update') %></th>
      <th><%= t('.columns.creator') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
