<%= render_breadcrumbs %>

<h1><%= t('.title', node: @relationable.reference_label, name: @relation.node.reference_label ) %></h1>

<h2><%= t('.conditions') %></h2>

<%= render 'conditions/table' %>

<h2><%= t('.children') %></h2>

<%= render 'children/table' %>
