<h2><%= t('versions.show.subtitle_diagnoses') %></h2>
<%= link_to new_algorithm_version_diagnosis_url(@algorithm, @version) do %>
  <button type="button" class="btn btn-outline-primary" <%= @version.in_prod ? 'disabled' : '' %>><%= t('add') %></button>
<% end %>

<table class="table table-condensed table-hover" id="diagnoses-datatable" data-source="<%= algorithm_version_diagnoses_url(@algorithm, @version, format: :json) %>">
  <thead>
  <tr>
    <th><%= t('.columns.reference') %></th>
    <th><%= t('.columns.label') %></th>
    <th><%= t('.columns.complaint_category') %></th>
    <th><%= t('.columns.last_update') %></th>
    <th><%= t('.columns.actions') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
