<h1><%= t('.title', name: @relationable.label ) %></h1>

<div class="row">
  <div class="col">
    <%= simple_form_for @relation, url: predefined_syndrome_relations_url(@predefined_syndrome), method: :post do |f| %>
      <div class="row">
        <div class="col">
          <%= f.association :node, collection: Node.where.not(id: @predefined_syndrome.relations.select(:node_id)).order(:reference), label_method: :reference_label, label: false , prompt: t('prompt')%>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render 'relations/table' %>

