<h1><%= t('.title') %></h1>

<table class="table table-condensed table-hover" id="devices-datatable" data-source="<%= devices_url(format: :json) %>">
  <thead>
    <tr>
      <th><%= t('.columns.mac_address') %></th>
      <th><%= t('.columns.name') %></th>
      <th><%= t('.columns.brand') %></th>
      <th><%= t('.columns.model') %></th>
      <th><%= t('.columns.last_activity') %></th>
      <th><%= t('.columns.last_user') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
