<h2><%= t('health_facilities.show.medical_staff') %></h2>

<table class="table table-condensed table-hover" id="medical_staffs-datatable" data-source="<%= health_facility_medical_staffs_url(@health_facility, format: :json) %>">
  <thead>
  <tr>
    <th><%= t('.columns.first_name') %></th>
    <th><%= t('.columns.last_name') %></th>
    <th><%= t('.columns.role') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
