<div class="row h-100 w-100 login-background">
  <div class="col-3 mx-auto my-auto login-content">

    <div class="row my-5">
      <h2><%= t('.title') %></h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('.send'), class: 'btn btn-succes btn-block btn-primary-light' %>
      </div>
    <% end %>

    <div class="devise-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
