<table class="table table-condensed table-hover" id="questions_sequences_scored-datatable" data-source="<%= questions_sequence_scored_algorithm_url(@algorithm, format: :json) %>">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t('.columns.reference') %></th>
      <th><%= t('.columns.label') %></th>
      <th><%= t('.columns.description') %></th>
      <th><%= t('.columns.min_score') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

