<%= simple_form_for @study, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :label %>
  <div class="form-group">
    <label for="description" class="form-label"><%= t('studies.description') %></label>
    <%= f.text_area :description, class: 'tinymce', rows: 20, cols: 120 %>
  </div>
  <%= f.submit t('save'), class: 'btn btn-primary my-4 float-right' %>
<% end %>
