<%= simple_form_for @study, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :label %>
  <%= f.input :default_language, collection: Language.all.to_a.push(Language.new(name: 'English', code: 'en')), value_method: :code, label_method: :name, prompt: t('prompt') %>

  <div class="form-group">
    <label for="description_en" class="form-label"><%= t('studies.description') %></label>
    <div class="tinymce-wrapper">
      <%= f.text_area :description_en, class: 'tinymce-description' %>
    </div>
  </div>

  <%= link_to t('cancel'), :back, class: 'btn btn-danger my-4 float-left' %>
  <%= f.submit t('save'), class: 'btn btn-primary my-4 float-right' %>
<% end %>
