<%= simple_form_for @study, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :label %>
  <div class="form-group">
    <label for="description" class="form-label">Description</label>
    <%= f.text_area :description, class: "tinymce", rows: 20, cols: 120 %>
  </div>
  <%= f.association :algorithm, collection: Algorithm.all, label_method: :name, prompt: t('select')  %>

  <%= f.submit t('save'), class: 'btn btn-primary my-4 float-right' %>
<% end %>
