<table class="table table-condensed table-hover" id="final_diagnostics-datatable" data-source="<%= algorithm_algorithm_version_diagnostic_final_diagnostics_url(@algorithm, @algorithm_version, @diagnostic, format: :json) %>">
  <thead>
    <tr>
      <th><%= t('.columns.reference') %></th>
      <th><%= t('.columns.label') %></th>
      <th><%= t('.columns.description') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

