<div class="row my-1">
  <div class="col align-self-center"><%= render_breadcrumbs %></div>
  <div class="col align-self-center text-right text-uppercase font-weight-light breadcrumbs"><%= link_to @diagnostic.label, diagram_algorithm_version_diagnostic_url(params[:algorithm_id], params[:version_id], params[:diagnostic_id]) %> - <%= @final_diagnostic.label %></div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="mx-0 my-0 metadata" data-type="<%= @diagnostic.class.name %>" data-id="<%= @diagnostic.id %>" data-version="<%= @diagnostic.version.id %>" data-algorithm="<%= @diagnostic.version.algorithm.id %>" data-final_diagnostic="<%= @final_diagnostic.id %>"></p>
    <%= react_component('Provider', {
      render: 'FinalDiagnosticDiagram',
      context: {
        instanceable: @diagnostic,
        questions: @final_diagnostic.health_care_questions_json,
        finalDiagnostic: @final_diagnostic,
        healthCares: @final_diagnostic.health_cares_json,
        availableNodes: @final_diagnostic.available_nodes_health_cares_json,
        type: 'FinalDiagnostic',
        questionAnswerTypes: AnswerType.all.as_json(methods: :display_name),
        questionSystems: Question.systems.map { |k, v| [t("questions.systems.#{k}"), k] },
        questionStages: Question.stages.as_json,
        questionCategories: Question.categories('FinalDiagnostic').as_json,
        questionsSequenceCategories: QuestionsSequence.categories.as_json,
        treatmentTypes: HealthCares::Treatment.treatment_types.as_json
      }
    }) %>
  </div>
  <button type="button" class="btn btn-sm btn-info help" data-toggle="popover" data-placement="top" data-html="true" data-content="<%= render 'helps/diagram' %>">
    <i class="material-icons">
      help_outline
    </i>
  </button>
</div>

