<div class="row">
  <div class="col"><%= render_breadcrumbs %></div>
  <div class="col text-center"><p><%= @final_diagnostic.label %></p></div>
  <div class="col text-right">
    <%= link_to(I18n.t('close'), algorithm_version_diagnostic_final_diagnostic_url(params[:algorithm_id], params[:version_id], params[:diagnostic_id], params[:id]), class: 'btn btn-danger mt-1 mr-2') %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="mx-0 my-0 metadata" data-type="<%= @diagnostic.class.name %>" data-id="<%= @diagnostic.id %>" data-version="<%= @diagnostic.version.id %>" data-algorithm="<%= @diagnostic.version.algorithm.id %>" data-final_diagnostic="<%= @final_diagnostic.id %>"></p>
    <%= react_component('Provider', {
      render: 'FinalDiagnosticDiagram',
      context: {
        instanceable: @diagnostic,
        questions: @final_diagnostic.health_care_questions_json,
        finalDiagnostic: @final_diagnostic,
        healthCares: @final_diagnostic.health_cares_json,
        availableNodes: @final_diagnostic.available_nodes_health_cares_json,
        type: 'FinalDiagnostic'
      }
    }) %>
  </div>
</div>

