<div class="row my-1">
  <div class="col align-self-center"><%= render_breadcrumbs %></div>
  <div class="col align-self-center text-center text-uppercase font-weight-light breadcrumbs"><%= link_to @diagnostic.label, diagram_algorithm_version_diagnostic_url(params[:algorithm_id], params[:version_id], params[:diagnostic_id]) %> - <%= @final_diagnostic.label %></div>
  <div class="col align-self-center text-right"><%= link_to(I18n.t('back'), diagram_algorithm_version_diagnostic_url(params[:algorithm_id], params[:version_id], params[:diagnostic_id]), class: 'btn btn-primary') %></div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="mx-0 my-0 metadata" data-type="<%= @diagnostic.class.name %>" data-id="<%= @diagnostic.id %>" data-version="<%= @diagnostic.version.id %>" data-algorithm="<%= @diagnostic.version.algorithm.id %>" data-final_diagnostic="<%= @final_diagnostic.id %>"></p>
    <%= react_component('Provider', {
      render: 'FinalDiagnosticDiagram',
      context: {
        instanceable: @diagnostic,
        questions: @final_diagnostic.health_care_questions_json,
        finalDiagnostic: @final_diagnostic,
        healthCares: @final_diagnostic.health_cares_json,
        availableNodes: @final_diagnostic.available_nodes_health_cares_json,
        type: 'FinalDiagnostic'
      }
    }) %>
  </div>
</div>

