<div class="breadcrumb mb-4"><%= render_breadcrumbs %></div>

<h1><%= t('.treatments') %></h1>

<ul class="list-group">
  <% @treatments.each do |treatment| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col"><%= treatment.node.label %></div>
        <div class="col text-right"><%= link_to(I18n.t('destroy'), algorithm_algorithm_version_diagnostic_final_diagnostic_final_diagnostic_health_care_url(@algorithm, @algorithm_version, @diagnostic, @final_diagnostic, treatment), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' }) %></div>
      </div>
    </li>
  <% end %>
  <li class="list-group-item">
    <%= simple_form_for @final_diagnostic_health_care, url: algorithm_algorithm_version_diagnostic_final_diagnostic_final_diagnostic_health_cares_url(@algorithm, @algorithm_version, @diagnostic, @final_diagnostic), method: :post do |f| %>
      <div class="row">
        <div class="col">
          <%= f.association :node, collection: @algorithm.nodes.where('type = "Treatment"').where.not(id: @treatments.select(:node_id)), label_method: :reference_label, label: false, prompt: t('prompt') %>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </li>
</ul>

<hr/>

<h1><%= t('.managements') %></h1>

<ul class="list-group">
  <% @managements.each do |management| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col"><%= management.node.label %></div>
        <div class="col text-right"><%= link_to(I18n.t('destroy'), algorithm_algorithm_version_diagnostic_final_diagnostic_final_diagnostic_health_care_url(@algorithm, @algorithm_version, @diagnostic, @final_diagnostic, management), method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' }) %></div>
      </div>
    </li>
  <% end %>
  <li class="list-group-item">
    <%= simple_form_for @final_diagnostic_health_care, url: algorithm_algorithm_version_diagnostic_final_diagnostic_final_diagnostic_health_cares_url(@algorithm, @algorithm_version, @diagnostic, @final_diagnostic), method: :post do |f| %>
      <div class="row">
        <div class="col">
          <%= f.association :node, collection: @algorithm.nodes.where('type = "Management"').where.not(id: @managements.select(:node_id)), label_method: :reference_label, label: false, prompt: t('prompt') %>
        </div>
        <div class="col">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </li>
</ul>

<h1><%= t('.excluded_diagnostic') %></h1>
<% if @final_diagnostic.excluded_diagnostic.present? %>
  <div class="alert alert-danger" role="alert">
    <%= @final_diagnostic.excluded_diagnostic.reference_label %>
  </div>

<% else %>
  <div class="alert alert-primary" role="alert">
    <%= t('.no_excluded_diagnostic') %>
  </div>
<% end %>

<li class="list-group-item">
  <%= simple_form_for @final_diagnostic, url: add_excluded_diagnostic_algorithm_algorithm_version_diagnostic_final_diagnostic_url(@algorithm, @algorithm_version, @diagnostic, @final_diagnostic), method: :post do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input :final_diagnostic_id, collection: @diagnostic.final_diagnostics.where.not(id: params[:id]), label_method: :reference_label, label: false, prompt: t('prompt') %>
      </div>
      <div class="col">
        <%= f.submit t('add'), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</li>




