<!-- All must be in single quote -->

<h6><%= t('.arrow-title') %></h6>
<img src='<%= image_url('diagram/arrow.png') %>' class='img-fluid'/>
<p><%= t('.arrow-content') %></p>

<h6><%= t('.dashed-arrow-title') %></h6>
<img src='<%= image_url('diagram/dashed-arrow.png') %>' class='img-fluid'/>
<p><%= t('.dashed-arrow-content') %></p>

<h6><%= t('.in-port-title') %></h6>
<img src='<%= image_url('diagram/node.png') %>' class='img-fluid'/>
<p><%= t('.in-port-content') %></p>

<h6><%= t('.out-port-title') %></h6>
<img src='<%= image_url('diagram/node.png') %>' class='img-fluid'/>
<p><%= t('.out-port-content') %></p>

<h6><%= t('.excluded-diagnostic-title') %></h6>
<img src='<%= image_url('diagram/excluded.png') %>' class='img-fluid'/>
<p><%= t('.excluded-diagnostic-content') %></p>

<h6><%= t('.score-title') %></h6>
<img src='<%= image_url('diagram/score.png') %>' class='img-fluid'/>
<p><%= t('.score-content') %></p>
