<!-- All must be in single quote -->

<h6><%= t('.formula-title') %></h6>
<p><%= t('.formula-content') %></p>

<h6><%= t('.reference-title') %></h6>
<p><%= t('.reference-content') %></p>

<h6><%= t('.date-title') %></h6>
<p><%= t('.date-content') %></p>
