<div>
  <div class="row medal-data-config">
  <div class="col align-self-center"><b><%= t('activerecord.attributes.medal_data_config_variable.label') %></b></div>
  <div class="col align-self-center"><b><%= t('activerecord.attributes.medal_data_config_variable.api_key') %></b></div>
  <div class="col align-self-center"><b><%= t('activerecord.attributes.medal_data_config_variable.question_id') %></b></div>
  <div class="col align-self-center"></div>
</div>
</div>
<div>
<div class="row medal-data-config">
  <div class="col align-self-center"></div>
  <div class="col align-self-center"><input class="form-control string" value="study" disabled></div>
  <div class="col align-self-center"><input class="form-control string" value="<%= @version.algorithm.study.label %>" disabled></div>
  <div class="col align-self-center"></div>
</div>
</div>

<% @version.algorithm.medal_r_config['basic_questions'].merge(@version.algorithm.medal_r_config['optional_basic_questions']).each do |basic_question| %>
  <div>
  <div class="row medal-data-config">
    <div class="col align-self-center"></div>
    <div class="col align-self-center"><input class="form-control string" value="<%= basic_question[0] %>" disabled></div>
    <div class="col align-self-center"><input class="form-control string" value="<%= Node.find(basic_question[1]).display_label_id %>" disabled></div>
    <div class="col align-self-center"></div>
  </div>
  </div>
<% end %>

<%= simple_form_for @version, url: algorithm_version_url(@version.algorithm, @version), method: :put, html: { class: 'form-horizontal' } do |f| %>
  <%= f.simple_fields_for :medal_data_config_variables do |ff| %>
    <%= render 'medal_data_config_variables/fields', f: ff %>
  <% end %>

  <div class="links">
    <%= link_to_add_association "<button class='btn btn-outline-primary'>#{t('add')}</button>".html_safe, f, :medal_data_config_variables, partial: 'medal_data_config_variables/fields' %>
  </div>

  <%= f.submit t('save'), class: 'btn btn-primary my-4 float-right' %>
<% end %>
