<ul class="list-group">
  <% @version.components.map(&:conditions).flatten.each do |condition| %>
    <li class="list-group-item">
      <div class="row">
        <div class="col"><%= condition.referenceable.reference_label %></div>
        <div class="col text-center"><%= t('.depends_on') %></div>
        <div class="col"><%= condition.first_conditionable.node.reference_label %></div>
        <div class="col text-right"><%= link_to(I18n.t('destroy'), remove_triage_condition_algorithm_version_url(@version.algorithm, @version, condition_id: condition.id), method: :put, class: 'btn btn-outline-danger', data: { confirm: 'Are you sure?' }) %></div>
      </div>
    </li>
  <% end %>
  <li class="list-group-item">
    <%= simple_form_for @version, url: create_triage_condition_algorithm_version_url(@version.algorithm, @version), method: :put do |f| %>
      <div class="row">
        <div class="col">
          <%= f.input :triage_id, collection: @version.components.joins(:node).triage_under_chief_complaint, value_method: :id, label_method: :reference_label, label: false, prompt: t('prompt') %>
        </div>
        <div class="col text-center">
          <%= t('.depends_on') %>
        </div>
        <div class="col">
          <%= f.input :cc_id, collection: @version.components.triage_chief_complaint, value_method: :id, label_method: :reference_label, label: false, prompt: t('prompt') %>
        </div>
        <div class="col text-right">
          <%= f.submit t('add'), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </li>
</ul>
