<h1>
  <%= t('.title', name: @version.algorithm.name, version: @version.name) %><%= link_to(I18n.t('edit'), edit_algorithm_version_url(@version.algorithm, @version), class: 'btn btn-outline-success ml-3') %>
</h1>
<h4 class="text-warning">
  <%= t('.deployed_version') if @version.is_deployed? %>
</h4>
<div>
  <%= simple_form_for @version, url: generate_variables_algorithm_version_path(@version.algorithm, @version, format: :xlsx), method: :get do |f| %>
    <%= f.submit t('.generate_variables'), class: 'btn btn-primary' %>
  <% end %>
</div>

<p class="display-spaces"><%= @version.description %></p>

<ul class="nav nav-tabs" id="version-tabs" role="tablist">
  <li class="nav-item">
    <%= link_to  t('.subtitle_diagnoses'), algorithm_version_diagnoses_url(@version.algorithm, @version), id: 'nav-link-diagnoses', class: "nav-link active", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to  t('.subtitle_final_diagnoses'), final_diagnosis_algorithm_version_url(@version.algorithm, @version), id: 'nav-link-final_diagnoses', class: "nav-link", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to  t('.subtitle_final_diagnoses_exclusions'), final_diagnoses_exclusions_algorithm_version_url(@version.algorithm, @version), id: 'nav-link-final_diagnosis_exclusions', class: "nav-link", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to  t('.subtitle_registration_triage_questions'), registration_triage_questions_algorithm_version_url(@version.algorithm, @version), id: 'nav-link-registration_triage_questions', class: "nav-link", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to  t('.subtitle_full_order'), full_order_algorithm_version_url(@version.algorithm, @version), id: 'nav-link-full_order', class: "nav-link", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to  t('.subtitle_medal_data_config_html'), medal_data_config_algorithm_version_url(@version.algorithm, @version), id: 'nav-link-medal_data_config', class: "nav-link", remote: true %>
  </li>
  <li class="nav-item">
    <%= link_to  t('.subtitle_translations'), translations_algorithm_version_url(@version.algorithm, @version), id: 'nav-link-translations', class: "nav-link", remote: true %>
  </li>
</ul>

<div class="tab-content mt-4 ml-4" id="version-table">
  <div id="version-index-content">
    <%= render 'diagnoses/table' %>
  </div>
</div>
