<div class="breadcrumb mb-4"><%= render_breadcrumbs %></div>

<h1><%= t('.title', name: @version.algorithm.name, version:@version.name ) %></h1>

<h2><%= t('.subtitle_diagnostics') %></h2>
<%= link_to new_algorithm_version_diagnostic_url(@algorithm, @version) do %>
  <button type="button" class="btn btn-outline-secondary"><%= t('add') %></button>
<% end %>

<%= render 'diagnostics/table' %>
