<table class="table table-condensed table-hover" id="version_final_diagnoses-datatable" data-source="<%= final_diagnosis_algorithm_version_url(@version.algorithm, @version, format: :json) %>">
  <thead>
  <tr>
    <th><%= t('.columns.id') %></th>
    <th><%= t('.columns.reference') %></th>
    <th><%= t('.columns.label') %></th>
    <th><%= t('.columns.diagnosis') %></th>
    <th><%= t('.columns.cc') %></th>
    <th><%= t('.columns.description') %></th>
    <th><%= t('.columns.actions') %></th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
