<h1><%= t('.title') %></h1>

<%= render 'utils/dependency_warning', node: @final_diagnosis %>

<p class="mx-0 my-0 metadata" data-type="<%= @diagnosis.class.name %>" data-id="<%= @diagnosis.id %>" data-version="<%= @diagnosis.version.id %>" data-algorithm="<%= @diagnosis.version.algorithm.id %>" data-final_diagnosis="<%= @final_diagnosis.id %>"></p>

<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <%= react_component('form/FinalDiagnosisForm', { finalDiagnosis: @final_diagnosis.as_json(include: :medias), method: 'update', from: 'rails', is_deployed: @final_diagnosis.used_in_deployed_version, source: @source }) %>
  </div>
</div>
