<nav id="sidebar">
  <div class="sidebar-header flex">
    <%= image_tag('logo_medal_creator.png', class: 'mx-auto text-center', height: '100', alt: 'Logo') %>
  </div>

  <div class="current-user">
    <%= link_to current_user.full_name, edit_user_registration_url %>
  </div>

  <ul class="list-unstyled components">
    <li class="<%= 'active' if controller_name == 'algorithms' %>">
      <%= link_to t('breadcrumbs.algorithms'), algorithms_url %>
    </li>
    <li class="<%= 'active' if controller_name == 'health_facilities' %>">
      <%= link_to t('breadcrumbs.health_facilities'), health_facilities_url %>
    </li>
    <li class="<%= 'active' if controller_name == 'devices' %>">
      <%= link_to t('breadcrumbs.devices'), devices_url %>
    </li>
    <li class="<%= 'active' if controller_name == 'users' %>">
      <%= link_to t('breadcrumbs.users'), users_url %>
    </li>
    <li class="<%= 'active' if controller_name == 'technical_files' %>">
      <%= link_to t('breadcrumbs.apk'), technical_files_url %>
    </li>
    <li class="<%= 'active' if controller_name == 'settings' %>">
      <%= link_to t('breadcrumbs.settings'), settings_url %>
    </li>
    <li>
      <%= link_to t('logout'), destroy_user_session_url, method: :delete %>
    </li>
  </ul>
</nav>
