<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>

<body>

<div class="wrapper">

  <%= render 'layouts/side_menu' %>

  <!-- Page Content  -->
  <div id="content">

    <%= render 'layouts/flash' %>

    <%= yield %>

  </div>
</div>

</body>

<%= render 'layouts/footer' %>
</html>
