<h2><%= t('algorithms.show.subtitle_managements_exclusions') %></h2>

<%= simple_form_for NodeExclusion.new, url: create_exclusion_algorithm_managements_url(@algorithm, format: :html), method: :post do |f| %>
  <div class="row">
    <div class="col">
      <%= f.input :excluding_node_id, collection: @algorithm.health_cares.managements, value_method: :id, label_method: :reference_label, label: false, prompt: t('prompt') %>
    </div>
    <div class="col text-center">
      <%= t('.excludes') %>
    </div>
    <div class="col">
      <%= f.input :excluded_node_id, collection: @algorithm.health_cares.managements, value_method: :id, label_method: :reference_label, label: false, prompt: t('prompt') %>
    </div>
    <div class="col text-right">
      <%= f.submit t('add'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<table class="table table-condensed table-hover" id="management_exclusion-datatable" data-source="<%= management_exclusions_algorithm_url(@algorithm, format: :json) %>">
  <thead>
    <tr>
      <th><%= t('.columns.excluding_management') %></th>
      <th><%= t('.columns.excluded_management') %></th>
      <th><%= t('.columns.actions') %></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
